@font-face {
	font-family: inconsolata;
	src: url("/fonts/inconsolata.otf");
}

a img {
  border: none;
}

body {
  background-color: #43a822;
  margin: 0;
  padding: 0;
  color: #180021;
}

#wrapper {
  margin: 10px auto 0px auto;
  width: 904px;
  display: block;
}

#logo {
  background: url("/images/swistak-logo.png") no-repeat right;
  height: 486px;
  width: 280px;
}

#info {
  width: 624px;
  font-family: inconsolata, serif, sans-serif;
  text-align: center;
  display: block;
}

#name {
  font-size: 60pt;
  display: block;
}

#left {
  float:left;
  width: 280px;
  display: block;
}

#right {
  float: right;
  width: 624px;
  display: block;
}

#menu {
  padding-bottom: 10px;
}

.menu {
  display: inline;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline;
}

.menu li a:before { content: '['; }
.menu li a:after { content: ']'; }

a {
  color: #3D0052;
  text-decoration: none;
  font-weight: normal;
}

a:hover, .proj h1:hover {
  color: #260033;
  font-weight: bold;
}

#footer {
  font-size: 10pt;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  clear: both;
  display: block;
}

#footer a {
  color: #000000;
}

#content {
  width: 624px;
  display: block;
}

#col3-center {
  float: left;
  width: 544px;
  border: 2px double #000000;
  background-color: #BCE27F;
}

.rect {
  float: left;
  width: 534px;
  border: 2px solid #000000;
  background-color: #BCE27F;
  margin: 10px 38px 0px 38px;
  text-align: center;
  padding: 5px;
}

#linksroll ul {
  list-style: none;
}

#linksroll li a {
  text-decoration: dashed;
  color: #225411;
}

#linksroll li a:hover {
  text-decoration: underline;
  color: #115422;
}

#social-icons {
  width: 400px;
  float: left;
}

.icon {
  width: 48px;
  height: 48px;
  padding: 16px;
  display: inline;
  float: left;
}

.proj {
  text-align: left;
  margin: 5px;
  font-size: 10pt;
}

a .proj {
  color: #180021;
  text-decoration: none;
  font-weight: normal;
}

.proj h1 {
  text-align: right;
  margin-right: 15px;
}

.proj h1:hover {
  margin-right: 20px;
}

.proj p img {
  float: left;
  padding: 5px;
}

em {
  font-weight: bold;
}

.short p:after {
  content: "Kliknij tutaj aby dowiedzieć się więcej";
  font-size: 11pt;
  font-weight: bold;
  float: right;
  margin-top: 10px;
}

.thumb {
  display: block;
  padding: 10px;
  float: left;
}

.post {
  text-align: left;
}

.post .date {
  font-style: italic;
  font-size: 9pt;
}

.post .tags {
  font-size: 9pt;
  padding-top: 20px;
}

.post h1 {
  
}

.post h1:hover {
  font-style: italic;
  padding-left: 5px;
}