---
layout: default
---

<div class="rect proj">
  <h1>{{ page.title }}</h1>

  {% if github_repo %}
    <h3><a href="{{ github_repo }}">Github repo</a></h3>
  {% endif %}

  <div class='content'>
    {{ page.content }}
  </div>

  {% if page.screenshots > 0 %}
    <h3>Galeria</h3>
    {% for i in (1..page.screenshots) %}
      <a href="{{ i }}.png" rel="prettyPhoto[gallery]">
        <div class='thumb'>
          <img src="{{ i }}t.png">
        </div>
      </a>
    {% endfor %}
  {% endif %}
</div>
