---
layout: default
---

{% assign post = page %}

<div class="rect proj">
  <h1>{{ post.title }}</h1>

  {% if post.github_repo %}
    <h3><a href="{{ post.github_repo }}">Github repo</a></h3>
  {% endif %}

  <div class='content'>
    {% if post.notextile %}
      {{ post.content }}
    {% else %}
      {{ post.content | textilize }}
    {% endif %}
  </div>

  {% if post.screenshots > 0 %}
    <h3>Galeria</h3>
    {% for i in (1..post.screenshots) %}
      <a href="/projects/{{ post.slug }}/{{ i }}.png" rel="prettyPhoto[gallery]">
        <div class='thumb'>
          <img src="/projects/{{ post.slug }}/{{ i }}t.png">
        </div>
      </a>
    {% endfor %}
  {% endif %}
</div>
